@use 'pixelize.scss';

.pixel-mario {
  $mario-colors: (#f81c2f, #65352b, #ffbb8e, #000, #1530ad, #aeaeac, #fef102);
  // prettier-ignore
  $mario: (
    (0,0,0,0,0,1,1,1,1,1,0,0,0,0,0,0),
    (0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0),
    (0,0,0,0,2,2,2,3,3,4,3,0,0,0,0,0),
    (0,0,0,2,3,2,3,3,3,4,3,3,3,0,0,0),
    (0,0,0,2,3,2,2,3,3,3,4,3,3,3,0,0),
    (0,0,0,2,2,3,3,3,3,4,4,4,4,0,0,0),
    (0,0,0,0,0,3,3,3,3,3,3,3,0,0,0,0),
    (0,0,0,0,0,1,5,1,1,5,1,0,0,0,0,0),
    (0,0,0,1,1,1,5,1,1,5,1,1,1,0,0,0),
    (0,0,1,1,1,1,5,5,5,5,1,1,1,1,0,0),
    (0,0,3,3,1,5,7,5,5,7,5,1,3,3,0,0),
    (0,0,3,3,3,5,5,5,5,5,5,3,3,3,0,0),
    (0,0,3,3,5,5,5,5,5,5,5,5,3,3,0,0),
    (0,0,0,0,5,5,5,0,0,5,5,5,0,0,0,0),
    (0,0,0,2,2,2,0,0,0,0,2,2,2,0,0,0),
    (0,0,2,2,2,2,0,0,0,0,2,2,2,2,0,0)
  );

  $mario-hover: (
    (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),
    (0,0,0,0,0,1,1,1,1,1,0,0,3,3,3,0),
    (0,0,0,0,1,1,1,1,1,1,1,1,1,3,3,0),
    (0,0,0,0,2,2,2,3,3,4,3,0,1,1,1,0),
    (0,0,0,2,3,2,3,3,3,4,3,3,3,1,1,0),
    (0,0,0,2,3,2,2,3,3,3,4,3,3,3,1,0),
    (0,0,0,2,2,3,3,3,3,4,4,4,4,1,0,0),
    (0,0,0,0,0,3,3,3,3,3,3,3,1,1,0,0),
    (0,0,1,1,1,1,5,1,1,1,5,1,1,0,0,2),
    (3,3,1,1,1,1,1,5,1,1,1,5,0,0,2,2),
    (3,3,3,1,1,1,1,5,5,5,5,7,5,5,2,2),
    (0,3,0,0,5,1,5,5,7,5,5,5,5,5,2,2),
    (0,0,2,2,2,5,5,5,5,5,5,5,5,5,2,2),
    (0,2,2,2,5,5,5,5,5,5,0,0,0,0,0,0),
    (0,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0),
    (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
  );

  $size: 20px;

  position: relative;
  display: inline-block;
  width: $size * length(nth($mario, 1));
  height: $size * length($mario);

  &::before {
    position: absolute;
    top: -$size;
    left: -$size;
    content: "";
    background: transparent;

    @include pixelize.pixelize($size, $mario, $mario-colors);
    //@include fill-gaps();
  }

  &:hover::before {
    @include pixelize.pixelize($size, $mario-hover, $mario-colors);
  }
}